aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    justify-content: space-around;
  }
}
